#footer {
    border: 1px solid #ccc;
    background: #f0f0f0;
    height:20px;   /* Height of the footer */
    text-align: center;
    padding-top: 10px;
    padding-bottom:  10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.toolbar-box {
    display: block;
    margin: 10px 0;
}

.toolbar-btn {
    cursor: pointer;
}

.toolbar-btn:hover {
    opacity: 0.5;
}