

/* -------------------------------------
* FORM
* ------------------------------------- */

.style_textfield{}
.style_textfield input{
    padding: 3px;
    border: 1px solid #B9C9F3;
    font: bold;
    width: 88%;
    font-size:12px;
}

.login_textfield{}
.login_textfield input{
    padding: 3px 0px;
    border: 1px solid #B9C9F3;
    font: bold;
    width: 100%;
    font-size:12px;

}


.style_textfield_mt{}
.style_textfield_mt textarea{
    padding: 3px;
    border: 1px solid #B9C9F3;
    font: bold;
    width: 60%;
    font-size:12px;

}
.creative_field_thumbnail{
    float: left;
    margin-right: 10px;
    border: 1px solid #CCC;

}

.creative_field_thumbnail img{
    height: auto;
    width: 50px;
}

.cal_field{
    padding-bottom: 5px;

}

.cal_field input{
    padding: 3px;
    border: 1px solid #B9C9F3;
    font: bold;
    width: 30%;
    font-size:12px;

}


.cal_field_header{
    padding-bottom: 5px;
}

.cal_field_header input{
    padding: 3px;
    border: 1px solid #B9C9F3;
    font: bold;
    width: 75%;
    font-size:12px;

}




.style_checkbox{
    margin-right: 10px;
}
.style_checkbox input{
    margin-right: 5px;

}



.style_select{}
.style_select select{
    width: 60%;
    padding: 3px;
    border: 1px solid #B9C9F3;
    font-size:12px;

}

.style_select_s{}
.style_select_s select{
    width: 20%;
    padding: 2px;
    border: 1px solid #B9C9F3;
    font-size:12px;
}


.style_radio{}
.style_radio input{
    margin-right:5px;
}


.left_container, .right_container {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCC;
    float: left;
    height: 170px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2px 0 2px 0;
    width: 40%;
    margin-right: 5px;
    font-size: 11px;
    white-space: nowrap;
}



.left_container .selected_label, .right_container .selected_label, .selected_container .selected_label {
    background: #D8DFEA;
}

.left_container label {
    display: block;
    margin: 1px 0;
    padding: 4px 0 4px 10px;
    vertical-align: middle;
    position: relative;
}
.left_container label span{
    color: #3B5998;
    position: absolute;
    top: 3px;
    right: 10px;
    font-weight: bold;
    padding-right: 3px;
    padding-left: 3px;
}

.left_container label div{
    color: #3B5998;
    background:#D8DFEA;
    border-radius: 2px; /* CSS3草案 */
    -webkit-border-radius: 2px; /* Safari,Google Chrome用 */
    -moz-border-radius: 2px; /* Firefox用 */
    position: absolute;
    top: 3px;
    right: 10px;
    font-weight: bold;
    padding-right: 3px;
    padding-left: 3px;
}

.left_container .selected_label, .right_container .selected_label, .selected_container .selected_label {
    background-color: #D8DFEA;
    background-image: url(../img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: right center;
}






.right_container label, .selected_container label {
    display: block;
    margin: 1px 0;
    padding: 2px 5px 2px 10px;
    vertical-align: middle;
}


.inputcheckbox{
    margin-right:5px;
}

.mailsend_box{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* -------------------------------------
* Button
* ------------------------------------- */
.btn_back{
    background-color: #fafafa;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 1px solid #CCC;
    float: left;
    margin-right: 5px;
}

.btn_confirm{
    background-color: #fafafa;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 1px solid #CCC;
    float: left;
    margin-right: 5px;

}


.btn_reference{
    margin-left:10px;
}

.btn_normal{
    background-color: #fafafa;
    margin-right: 5px;
    background-image: url(../img/btn_bk.gif);
    background-repeat: repeat-x;
    color: #666;
    padding:5px 8px;
    border: 1px solid #CCC;
    border-radius: 2px; /* CSS3草案 */
    -webkit-border-radius:2px; /* Safari,Google Chrome用 */
    -moz-border-radius: 2px; /* Firefox用 */
    text-decoration: none;
}


.btn_normal:hover{
    text-decoration: none;
    background-color: #fafafa;
    text-decoration: none;
    color: #999;
}


.btn_on{
    background-color: #fafafa;
    margin-right: 5px;
    background-image: url(../img/btn_on.gif);
    background-repeat: repeat-x;
    color: #fff;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #344f87;
    border-radius: 2px; /* CSS3草案 */
    -webkit-border-radius: 2px; /* Safari,Google Chrome用 */
    -moz-border-radius: 2px; /* Firefox用 */
}


.btn_on:hover{
    text-decoration: none;
    color: #fff;
    opacity:0.8;
}



.btn_new{
    margin-bottom: 10px;
}

.err_box{
	border: 1px solid #F33;
	background-color: #FCC;
	background-image: url(../img/icon_lose.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;        /* CSS3草案 */
	-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 5px;   /* Firefox用 */
	background-position-y: 5px;
	background-position-x: 5px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 25px;
	position: relative;
	color: #F00;
	font-weight: bold;

}
.err_box li{
	list-style-position: inside;
	list-style-type: circle;
	padding-left: 5px;
}

.err_txt{
	color: #F00;
	font-weight: bold;
}

/*.message_box{
	background-color: #CFC;
	border: 1px solid #88C572;
	margin-bottom: 10px;
	background-image: url(../img/icon_ok.png);
	background-repeat: no-repeat;
	background-position: 10px;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 45px;
	border-radius: 5px;         CSS3草案 
	-webkit-border-radius: 5px;     Safari,Google Chrome用 
	-moz-border-radius: 5px;    Firefox用 
}


.message_box a{
	color: #33CC00;
	text-decoration: underline;
}


.message_box a:hover{
	color: #97DC80;
	text-decoration: underline;
}

.message_box_ng{
	background-color: #FCC;
	border: 1px solid #C57288;
	margin-bottom: 10px;
	background-image: url(../img/icon_lose.png);
	background-repeat: no-repeat;
	background-position: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	border-radius: 5px;         CSS3草案 
	-webkit-border-radius: 5px;     Safari,Google Chrome用 
	-moz-border-radius: 5px;    Firefox用 
}


.message_box_ng a{
	color: #CC0033;
	text-decoration: underline;
}


.message_box_ng a:hover{
	color: #DC8097;
	text-decoration: underline;
}*/